<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2><%= nom %></h2>
        <p>><%=prenom %></p>
        <p><%= address %></p>
        <hr>
    </div>
</body>
</html>